<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:32370/AccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="ExternalAccountServices.IAccountService" name="BasicHttpBinding_IAccountService" />
            <endpoint address="http://localhost:32370/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="ExternalCustomerServices.ICustomerService" name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>