<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="testFlask" type="TestFlask.Aspects.Config.TestFlaskConfigSection, TestFlask.Aspects, PublicKeyToken=5b9114f222369bea, Version=1.0.0.0" />
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:32370/AccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService" contract="ExternalAccountServices.IAccountService" name="BasicHttpBinding_IAccountService" />
            <endpoint address="http://localhost:32370/CustomerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService" contract="ExternalCustomerServices.ICustomerService" name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
    <testFlask>
        <api url="http://testFlaskApiUrl" />
        <project key="yourTestFlaskProjectKey" />
    </testFlask>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>